.menuTemplate3 { margin:0; width:100%; float:none;}
@media only screen and (min-width: 768px){
    
}

* {
    margin: 0;
    padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
    display: block;
}


body {
    line-height: 1;
    background: #56C9EF  url("images/bg.gif") repeat;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 14px;
    line-height: 18px;
}

/* layout */



.menu,
#main,
#wrapper {
    margin: 0 auto;
    width: 1280px;
}


#wrapper {
   background: white;
    padding: 0 20px;
    -webkit-box-shadow: 3px 3px 7px #777;
    -moz-box-shadow: 3px 3px 7px #777;
}




/* basics */

h1,h2,h3,h4,h5,h6,h7 {
    font-weight: bold;
    clear: both;
    color: #333;
}





header>h1 {
    float: left;
    margin: 0 0 18px 0;
    width: 700px;
    font-size: 30px;
    line-height: 36px;
}

header>h7 {
    float: left;
    margin: 0 0 18px 0;
    width: 700px;
    font-size: 60px;
    line-height: 36px;
}

header>h1 a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 2px 3px #ddd;
}

header>h7 a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 2px 3px #ddd;
}

header>h2 {
    color: #777;
    clear: right;
    float: right;
    font-style: italic;
    margin: 14px 0 18px 0;
    width: 220px;
    text-shadow: 0px 2px 3px #ddd;
}


/* main content */

#main {
    overflow: hidden;
    padding: 10px 0 0 0;
}

#content {
    width: 600px;
    margin-bottom: 36px;
    color: #444;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    border-left: 1px #ddd solid;
}

article {
    padding: 10px;
}

article img {
    border: none;
}

#content p,
#content ul,
#content ol,
#content hr {
    margin-bottom: 24px;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
    margin-bottom: 0;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6, 
#content h7 {
    color: #333;
    margin: 0 0 20px 0;
    line-height: 1.5em;
    text-shadow: 0px 2px 3px #ddd;
}

.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}

.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}

.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
    margin-bottom: 12px;
}

/* sidebar and footer widget blocks */

aside h3 {
    font-size: 18px;
    line-height: 1.5em;
    text-shadow: 0px 2px 3px #ddd;
}

aside ul {
    list-style: square inside;
    margin-bottom: 20px;
    color: #56C9EF;
}

footer {
    margin-bottom: 20px;
    clear:both;
}

#footer-area {
    border-top: 4px solid #ddd;
    margin-top: -4px;
    padding: 18px 0;
    overflow: hidden;
}

#footer-area2 {
    border-top: 4px solid #ddd;
    margin-top: -4px;
    padding: 3px 0;
    overflow: hidden;
}

/* animated nerd */

.moveem {
    -webkit-transition: all 1s ease-in-out;
}

.rotate:hover {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
}

.slideright:hover {
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
}

.label { 
    width: 4em; 
    float: left; 
    text-align: right; 
    margin-right: 0.5em; 
    display: block; 
} 

.submit input { 
    margin-left: 4.5em; 

} 

.div {
    margin: .4em 0;
}

.input { 
    border: 1px solid #006;
    background: #ffc; 
    
} 
.submit input { 
    color: #000; 
    background: #ffa20f; 
    border: 2px outset #d7b9c9 
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/02/2014, 11:46:32 PM
    Author     : Dell
*/

/***** Hovered Button *****/
.tbutton:hover {
	color: #fff;
	text-shadow: 0 0 5px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,0.4);
	
	/* Shadow */
	box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.45) inset, 0 0 1px rgba(255,255,255,0.2), 0 10px 10px rgba(255,255,255,0.08) inset;
 }


/***** Clicked Button *****/
.tbutton:active {
	color: #eee;

	/* Shadow */
	box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
	-moz-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
	-webkit-box-shadow: 0 0 5px rgba(255,255,255,0.1) inset, 0 0 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.4) inset, 0 10px 10px rgba(255,255,255,0.08) inset;
 }


/***** Combined Buttons *****/
.tsc_toolbar > li {
	display: inline-block;
	margin: 0;
}

.tsc_toolbar > li > .button {

	border-left: rgba(0,0,0,0.2);

	/* Border Rounding */
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.tsc_toolbar > li:first-child > .tbutton {
	border-left: 1px solid rgba(0,0,0,0.2);

	/* Border Rounding */
	border-radius: 3px 0 0 3px; 
	-moz-border-radius: 3px 0 0 3px; 
	-webkit-border-radius: 3px 0 0 3px;
}

.tsc_toolbar > li:last-child > .tbutton{
	border-left: 0;

	/* Border Rounding */
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
}


/***** Icon Images *****/
.tbutton.addcart {
background-image: url('../images/cart_add.png'); }

.tbutton.delcart {
background-image: url('../images/cart_delete.png'); }


/***** Icon *****/
.tbutton.icon {
text-indent: 16px;
background-position: 6px center;
background-repeat: no-repeat; }



h1, h2, h3, h4, h5, h6,h7 { margin:0; font-weight:bold; line-height:125%;}
.fl { float:left;}
.fr { float:right;}
span.lib { color:#708090; font-family:Calibri,Arial, "Courier New", Courier, monospace; font-size:1.2em;}
p:hover span.lib { color:#53d2ff;}

form, ol, ul, li { margin:0; padding:0;}
ol, ul, li { list-style:none;}
a img { border:none;}
* { outline:none;}

h1 a {text-decoration:none;}
h2 { color:#333; margin:3px;padding-bottom:4px; font-size:21px; font-family:Calibri,Arial;}
h3 { padding:8px 0 6px; font-size:16px; margin:0px;padding-bottom:4px;}
h4 { padding:8px 0 0; font-size:12px;}

.tabbox h3 { padding:32px 0 16px;}
.tabbox h3:first-child { padding-top:0;}
.tabbox .tsc_ribbon_hang .hang-ribbon { margin-right:32px;}

.dtcodes_main { padding:0; margin:0 auto; width:845px; }
.dtcodes_main_fullsize { padding:0; margin:0 auto; width:100%; }

/* removed may/31/12 .main_resize { width:945px; margin:0 auto; } */
.header { margin-bottom: 15px; }
.header .logo { }
.header .logo h1 { font-size:22px; font-family:Calibri,Arial, "Courier New", Courier, monospace;margin:3px;padding-bottom:4px;}
.dc-rnav { float:right;font-size:12px; font-family:Calibri,Arial; }
.overview-nav-left { float:left;font-size:12px; font-family:Calibri,Arial; padding:8px; border:1px dotted #ddd; background-color:#fff; }
.overview-nav-left a { text-decoration:none; }
.overview-nav-right { float:right;font-size:12px; font-family:Calibri,Arial; padding:8px; border:1px dotted #ddd; background-color:#fff; }
.overview-nav-right a { text-decoration:none; }
.overview-txt { font-family: Calibri, Arial; font-size: 13px; color:#666; padding:0px; margin-top:10px;}

.sidebar { float:left; margin:0 0 24px; padding:0 0 0 24px; width:216px; background:#f2f3f4;}
.sidebar .sc_menu {}
.sidebar .sc_menu ul { border-top:1px solid #b3b7bf;}
.sidebar .sc_menu ul li { border-bottom:1px solid #b3b7bf; border-right:1px solid #b3b7bf;}
.sidebar .sc_menu ul li a { display:block; padding:6px 16px 6px 0; text-decoration:none; font-size:14px; color:#4e5563; background:url(../dc_images/arrow_r.png) no-repeat 200px center;}
.sidebar .sc_menu ul li a:hover { color:#009fd8; text-decoration:underline;}
.sidebar .sc_menu ul li.active { border-right:1px solid #f2f3f4;}
.sidebar .sc_menu ul li.active a { color:#009fd8; background-image:url(../dc_images/arrow_ra.png);}
.mainbar { float:right; margin:0 0 24px; padding:0 24px 24px 0; width:670px;}
.lineruler { border-top:1px solid #ccc; margin-top:8px;margin-bottom:8px;}
.footer { border-top:1px solid #ccc;}
.js_hide_gadget { margin-bottom:24px;}
.js_hide_gadget.notend { margin-bottom:8px;}
.js_hide_gadget h4 { padding:8px 0 8px 16px; color:#708090; background:url(../dc_images/arrow_u.png) no-repeat left 14px;}
.js_hide_gadget h4 a { color:#666; text-decoration:none; border-bottom:1px dotted #ccc; padding-bottom:2px;}
.js_hide_gadget h4 a:hover { color:#999; text-decoration:none; border-bottom:1px solid #ccc;}

.js_hide_gadget.js_minimized h4 { background:url(../dc_images/arrow_d.png) no-repeat left 14px;}
div.js_hide_box { padding:3px; background:#eeeeee; -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0px 1px 2px 1px #ccc; box-shadow: 0px 1px 2px 1px #ccc; }
.js_minimized .js_hide_box { display:none; }
p.socicons img { padding:0 4px 6px;}

.taccess_browser-all16 { display: inline-block; text-indent: -999em;height:16px; width:87px; text-decoration: none; padding:2px; vertical-align:middle; opacity:1;}
.taccess_browser-all16:hover{ opacity:0.85; }
.ico-browserall16 { background:url(../dc_images/browser-all-16x16.png) no-repeat; }
.ico-browserall16-noie { background:url(../dc_images/browser-all-noie16.png) no-repeat; }

.taccess_browser-html16 { display: inline-block; text-indent: -999em;height:16px; width:16px; text-decoration: none; padding:2px; vertical-align:middle; opacity:1;}
.ico-html532 { background:url(../dc_images/browser-html5-16x16.png) no-repeat; }

